html, body{
    height: 100%;
    margin: 0%;
}
body{  
    display: flex;
    flex-direction: column;
}
.nav{
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: 1000;
    
}
.logo p{
    font-size: larger;
    margin-left: 20px;
    color: white;
}
.nav ul{
    list-style-type: none;
    display: flex;


}
.list{
    margin: 0 15px;
}
.list a{
    color: white;
    text-decoration: none;
    font-size: larger;
}
.search_form{
    display: flex;
    align-items: center;
    
}
.search_form input{
    border-radius: 10%;
    margin-right: 5px;
}
.search_form button{
    margin-right: 20px;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
}
footer{

    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background:rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size:large;
    padding-bottom: 5px;
    margin-top: 15px;
}
.social-media{
    display: inline-flex;
    gap: 40px;
    padding-top: 15px;
}
.social-icon{
    font-size: x-large;
    color: #fff;
}
.social-icon:hover {
    color: #007bff; /* Change color on hover */
    transform: scale(1.3);
}

.geo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#geoSearch{
    margin-top: 5rem;
    font-size:medium;
    color: cornflowerblue;
    box-shadow: rgba(50,50,93,0.25)0px 50px 100px -20px,
                rgba(0,0,0,0.3)0px 30px 60px -30px,
                rgba(10 ,37, 64 ,0.35)0px -2px 6px 0px inset;
    border-radius: 12%;
    transition: transform 0.2s; /* Added transition */
}
#geoSearch:hover{
    transform: scale(1.1);
}
.weatherInfo{
    flex: 1;
    padding-bottom: 5px;
}
.weather-results{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.topBlock{
    grid-column: span 7;
    grid-row: span 2;
    text-align: center;
}
.leftBlock{
    text-align: center;
    font-size: large;
    box-shadow: rgba(50,50,93,0.25)0px 50px 100px -20px,
                rgba(0,0,0,0.3)0px 30px 60px -30px,
                rgba(10 ,37, 64 ,0.35)0px -2px 6px 0px inset;
    grid-area: 3 /2/5/4;
    color: #fff;
}
.rightBlock{
    text-align: center;
    font-size:large;
    box-shadow: rgba(50,50,93,0.25)0px 50px 100px -20px,
                rgba(0,0,0,0.3)0px 30px 60px -30px,
                rgba(10 ,37, 64 ,0.35)0px -2px 6px 0px inset;
    grid-area: 3/5/5/7;
    color: #fff;
}
.aboutSection{
   margin: 10px 10px 10px 10px; 
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.about{
    display: flex;
    text-align: center;
    grid-column: span 4;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    
}
.image{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
}
.image img{
    width: 100%;
    height: auto;
    border-radius: 10px; /* For rounded edges */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

@media(max-width:500px){
    .search_form input{
        width: 60px;
        margin-right: 0px;
    }
    footer{
        height: 4rem;
        font-size:x-small;
    }
    .social-media{
        display: inline-flex;
        gap: 40px;
        padding-top: 10px;
    }
    .social-icon{
        font-size: small;
        color: #fff;
    }
    .social-icon:hover {
        color: #007bff; /* Change color on hover */
        transform: scale(1.1);
    }
    .nav ul{
        padding-inline-start: 10px;
    }
    .leftBlock{
        grid-area: 3/1/5/4;
        font-size: small;
        margin-left: 10px;
    }
    .leftBlock p{
        margin: 6px 5px 6px 5px;
    }
    .rightBlock{
        grid-area: 3/5/5/8;
        font-size: small;
        margin-right: 15px;
    }
    .topBlock{
        font-size:small;
    }
}